{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <div class="media">
        <h2>{{ post_1.title }}</h2>
        {% if post_1.image and post_1.image.url != '/media/temp.jpg' %}
            <img src="{{post_1.image.url }}" alt="Изображение" widht="300" height="200" />
        {% endif %}
        <p>{{ post_1.content|linebreaksbr }}</p>
        <p>Автор:{{ post_1.author }}</p>
        <p><a href="{% url 'blog' %}" class="btn btn-primary btn-large">Назад</a></p><br />
    </div>
    <div class="media">
        {% for comment in comments %}
            <br />
            <h3>{{ comment.author }} оставил комментарий</h3>
            <h3><strong>{{ comment.text|linebreaksbr }}</strong></h3>
            <h7>Дата:{{ comment.date }}</h7>
        {% endfor %}
    </div>
    <div class="media">
        {% if user.is_authenticated %}
            <h3>Добавить комментарий:</h3>
            <form method="POST">{% csrf_token %}
                <div>
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary btn-large">Отправить</button>
                </div>
            </form>
        {% else %}
            <h3>Для добавления комменатария нужно авторизироваться!</h3>
        {% endif %}
    </div>
</div>
{% endblock %}
