{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>

    <address>
	    Россия. Псков. Иркутский переулок 2<br />
	    Спортивно-развлекательный парк «Простория»
    </address>

    <address>
        <strong>Техническая поддержка:</strong>   <a href="mailto:cyber-service@gmail.com">igoryankachok@yandex.ru</a><br />
        <strong>Директор:</strong>   <a href="https://vk.com/tomkash">Игорь Иванов</a>
    </address>
</div>
{% endblock %}
