{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Coub Fitness</h1>
    <p class="lead">Годовое членство в клубе "Планка Фитнес" в себя включает<br />
	Крытая парковка, Комплект полотенец при каждом визите, Вводный инструктаж в тренажерном зале<br />
	Фитнес-тест, Групповые тренировки по расписанию, Посещение сауны, Гостевые визиты<br />
	20% скидка на аренду теннисного корта, Заморозка карты до 30 дней<br />
	Скидки от партнеров клуба, Переоформление карты<br />


	</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Узнать больше &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>«Безлимитное»</h2>
        <p>
            Тренируетесь на здоровье и пользуйтесь всеми преимуществами фитнес-клуба в течение всего года в любое удобное для вас время.<br />
			ТРЕНИРУЙТЕСЬ БЕЗ ОГРАНИЧЕНИЙ!<br />
			Третий год − 20%
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>«Дневное»</h2>
        <p>Тренируетесь на здоровье и пользуйтесь всеми преимуществами фитнес-клуба в течение всего года в удобное для вас дневное время.<br />
		ТРЕНИРУЙТЕСЬ ПО БУДНЯМ: 07:00-17:00 | В ВЫХОДНЫЕ: 09:00-21:00<br />
		Экономия − 20%
		</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>«Карта выходного дня»</h2>
        <p>Тренируйтесь на здоровье и пользуйтесь всеми всеми преимуществами фитнес-клуба в течение года по выходным и праздничным дням.<br />
		ТРЕНИРУЙТЕСЬ В ВЫХОДНЫЕ: 09:00-21:00<br />
		СУББОТА, ВОСКРЕСЕНЬЕ, ПРАЗДНИЧНЫЕ ДНИ
		</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Узнать больше &raquo;</a></p>
    </div>
</div>

{% endblock %}
